<div class="card">
	<div class="card-header">
		<strong>Add New Book</strong>
	</div>
	<form class="form-horizontal">
		<div class="card-body">
			<div class="row">
				<label class="col-md-2 control-label">Title</label>
				<div class="col-md-4 mb-3">
					<input type="text" class="form-control" placeholder="Enter Book Title" name="title">
				</div>
				
				<label class="col-md-2 control-label">Author</label>
				<div class="col-md-4 mb-3">
					<input type="text" class="form-control" placeholder="Enter Book Author" name="author">
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 control-label">Cover Photo URL</label>
				<div class="col-md-4 mb-3">
					<input type="text" class="form-control" placeholder="Enter Book Cover Photo URL" name="coverPhotoURL">
				</div>
				
				<label class="col-md-2 control-label">ISBN Number</label>
				<div class="col-md-4 mb-3">
					<input type="text" class="form-control" placeholder="Enter Book ISBN Number" name="isbnNumber">
				</div>
			</div>
			<div class="row">
				<label class="col-md-2 control-label">Price</label>
				<div class="col-md-4 mb-3">
					<input type="text" class="form-control" placeholder="Enter Book Price" name="price">
				</div>
				
				<label class="col-md-2 control-label">Language</label>
				<div class="col-md-4 mb-3">
					<input type="text" class="form-control" placeholder="Enter Book Language" name="language">
				</div>
			</div>
		</div>
		<div class="card-footer text-right">
			<button type="button" class="btn btn-success">Save</button>
		</div>
	</form>
</div>