<div class="card border border-dark bg-dark text-white">
	<div class="card-header">
		<strong>{{title}}</strong>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-condensed table-hover table-striped table-dark">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>ISBN Number</th>
					<th>Price</th>
					<th>Language</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr align="center">
					<td colspan="6">{{noBooks}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
